<html xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>
<body>


<div id="app" layout:fragment="content">


    <modal v-if="showModal">

        <form slot="body" class="form" @submit.prevent="save">
            <div class="form-group">
                <label for="account">帳號</label>
                <input type="text" class="form-control" id="account" required
                       v-model="user.account" placeholder="Enter Account"/>

            </div>
<!--            <div class="form-group">-->
<!--                <label for="password">密碼</label>-->
<!--                <input type="password" class="form-control" id="password" placeholder="Enter Password" required-->
<!--                       v-model="user.password"/>-->
<!--            </div>-->

            <div class="form-group">
                <label for="name">顯示名稱</label>
                <input type="text" class="form-control" id="name" placeholder="Enter Name" required
                       v-model="user.name"/>
            </div>

            <div class="form-group">
                <select class="form-control" multiple v-model="user.userGroups">
                    <option v-for="group in groups" :value="group.id">{{group.name}}</option>
                </select>
            </div>

            <div class="text-right">
                <button class="btn btn-primary">ok</button>
                <input type="button" class="btn btn-primary" @click="close" value="close"/>
            </div>


        </form>

    </modal>
    <form class="" @submit.prevent>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mb-2" @click="query">{{queryValue}}</button>
              <button type="submit" class="btn btn-primary mb-2" @click="add">{{addValue}}</button>
        </div>
        <div class="form-group col-md-3">
            <label for="queryAccount">帳號</label>
            <input type="text" class="form-control" id="queryAccount" v-model="queryAccount"/>
        </div>
    </form>


    <datatable ref="datatable" :fields="fields" :records="records" @edit-row="editRow"
               @delete-row="deleteRow" >
        <template slot="customized"  scope="props">
            <button class="btn btn-info btn-sm"  @click="rePassword($event,props.rowData)">
                <span class="glyphicon glyphicon-trash">RePassord</span>
            </button>
        </template>
    </datatable>


</div>
<th:block layout:fragment="script">

    <script th:inline="javascript">
       const vue = new Vue({
          el:'#app',
          data:{
            user:{
                 id:null,
                 account:null,
                 password:null,
                 name:null,
                 userGroups:null
            },
            queryAccount:null,
            action:null,
            showModal: false,
            fields:[],
            records:[],
            groups:[],
            addValue:"新增用戶",
            queryValue:"搜尋用戶"
          },
          methods:{
              open(){
                this.showModal=true;
              },close(){
                 this.showModal=false;
              },
              save(){
                   this.sendData()
              },
              add(){
                  this.action = "add"
                  this.user.id="";
                  this.user.account = "";
                  this.user.password = "";
                  this.user.name = "";
                  this.user.userGroups = [];
                  this.open();
              },
              query(){
                    var queryAccount = this.queryAccount==null ? "":this.queryAccount;
                    queryAccount = queryAccount.toLowerCase();
                    const config = {
                        url:[[@{/user}]],
                        headers:{}
                    }

                    config.headers["X-CSRF-TOKEN"] = this.$csrfToken
                    config.url += "/" + queryAccount
                    this.$http(config).then( (res)=>{
                        if(res.status ==200){
                          vue.records = res.data
                          vue.matchUserGroupName();
                        }

                    }).catch(err => {
                        if(err =="Error: Network Error"){
                             location.reload();
                        }else{
                            alert('System Error');
                            console.log(err)
                        }
                   })
              },
               editRow(rowData){
                  //alert("You clicked edit on"+ JSON.stringify(rowData))
                  this.action = "upd"
                  this.user.id = rowData.id;
                  this.user.userGroups = rowData.userGroups
                  this.user.account = rowData.account;
                  this.user.password = rowData.password;
                  this.user.name = rowData.name;
                  this.open()

                },
                deleteRow(rowData){
                  this.action = "del"
                  this.user.id = rowData.id;
                  this.user.account = rowData.account;
                  this.user.password = rowData.password;
                  this.user.name = rowData.name;
                  this.sendData()
                },
                rePassword(e,rowData){
                      this.action = "upd"
                      this.user.id = rowData.id;
                      this.user.userGroups = rowData.userGroups
                      this.user.account = rowData.account;
                      this.user.password = "";
                      this.user.name = rowData.name;
                       this.sendData()
                },
                sendData(){
                    var formData = new FormData();
                    this.user.account = this.user.account.toLowerCase();
                    formData.set('user',JSON.stringify(this.user))
                    formData.set(this.csrfName,this.$csrfToken)

                    const config = {
                        url:[[@{/user}]],
                        data:JSON.stringify(vue.user),
                        headers:{
                            'Content-Type': 'application/json;charset=UTF-8'
                        }
                    }
                    config.headers["X-CSRF-TOKEN"] = this.$csrfToken
                    switch(this.action){
                        case "add":
                            config.method = 'post'
                            break;
                         case "del":
                            config.method = 'delete'
                            break;
                         case "upd":
                            config.method = 'put'
                            break;
                    }
                    this.$http(config).then( (res)=>{

                        if(res.data.status =='OK'){
                            vue.showModal = false;
                            alert(res.data.message)
                            location.reload();
                        }else{
                            alert(res.data.message)
                        }
                   }).catch(err => {

                        if(err =="Error: Network Error"){
                             location.reload();
                        }else{
                            alert('System Error');
                            console.log(err)
                        }
                   })
                },matchUserGroupName(){
                     this.records.forEach(r=>{
                       r.userGroupsName = []

                       r.userGroups.forEach(id=>{
                            let group = this.groups.find(group=> group.id == id)
                            if(group){
                                r.userGroupsName.push(group.name)
                            }

                       })
                    })
                }
          },mounted:function(){
                    this.records = [[${users}]];
                    this.groups  = [[${groups}]];
                    this.usergroups  = [[${usergroups}]];
                    this.matchUserGroupName();
                    this.fields=[{name:'id',title:'ID'},{name:'account',title:'帳號'},{name:'name',title:'顯示名稱'},{'name':'userGroupsName','title':'角色群組'}]
            }

       })



    </script>
</th:block>

</body>
</html>